*,
::after,
::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.container {
  background: var(--background);
  position: fixed;
  z-index: 999;
  text-align: center;
  width: 100vw;
  display: block;
}
.subcontainer1 {
  height: 5vh;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.subcontainer2 {
  height: 7vh;
  text-align: center;
}
.subcontainer2 nav ul {
  list-style: none;
}
.subcontainer2 nav ul li {
  margin-bottom: 18px;
  margin-left: 12px;
}
.subcontainer2 nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-toggle:checked ~ nav ul li a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  left: 0;
  top: 40%;
  margin-left: 12px;
  display: flex;
  height: 60%;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::after,
.nav-toggle-label span::before {
  display: block;
  height: 4px;
  width: 32px;
  background: #fff;
  position: relative;
  border-radius: 2px;
}
.nav-toggle-label span::after,
.nav-toggle-label span::before {
  content: "";
  position: absolute;
}
.nav-toggle-label span::after {
  top: 8px;
}
.nav-toggle-label span::before {
  bottom: 8px;
}
.subcontainer2 nav {
  position: absolute;
  text-align: left;
  top: 90%;
  left: 0;
  width: 100%;
  background: var(--background);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

@media screen and (min-width: 800px) {
  .subcontainer1 {
    /* color: var(--primary); */
    display: flex;
    color: #000;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 32px;
    gap: 18px;
  }
  .nav-toggle-label {
    display: none;
  }
  .subcontainer2 {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2/3;
    height: 100px;
    width: 170px;
  }
  .subcontainer2 nav ul li a {
    opacity: 1;
    position: relative;
  }
  .subcontainer2 nav ul li a::before {
    opacity: 1;
    content: "";
    display: block;
    height: 5px;
    background: #0b568f;
    position: absolute;
    right: 0;
    left: 0;
    top: -20%;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 500ms ease-in-out;
  }
  .subcontainer2 nav ul li a:hover::before {
    transform: scale(1, 1);
  }
  .subcontainer2 nav ul li {
    margin-bottom: 0px;
    margin-left: 32x;
  }
  .subcontainer2 nav ul {
    display: flex;
  }
  .subcontainer2 nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
